*{
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: Poppins;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

p {
    display: block;
    margin: 0 1rem;
}