:root {

    --black: #000000;
    --white: #ffffff;
    --gray: #d9d9d9;
    --dark-gray: #222222;
    --orange: #ffa500;

    --font-family-1: 'Calibre';
    --font-family-2: 'Gotham';
    --font-family-3: 'SilkSerif';
}