/* Librairies */
@import "vendors/normalize.css";

/* Variables */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/index.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

@import "component/coming.css";
@import "component/hero.css";



@font-face {
    font-family: 'Silk Serif';
    src: url('../fonts/Silk\ Serif\ Regular.otf') format("opentype");
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreRegular.otf') format("opentype");
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Silk Serif';
    src: url('../fonts/GothamMedium.ttf') format("opentype");
         font-display: swap;
         font-style: normal;
  }