/* Librairies */
@import "vendors/normalize.css";

/* Variables */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/index.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

@import "component/coming.css";
@import "component/hero.css";
@import "component/quote.css";
@import "component/books.css";
@import "component/films.css";
@import "component/music.css";
@import "component/realisateur.css";
@import "component/contact.css";



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');






@font-face {
    font-family: 'Silk Serif';
    src: url("/src/fonts/Silk\ Serif\ Regular.otf");
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/CalibreRegular.otf') format("opentype");
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Silk Serif';
    src: url('../fonts/GothamMedium.ttf') format("opentype");
         font-display: swap;
         font-style: normal;
  }