.main__coming {
    background-color: var(--black);
    color: var(--white);
}

.main__coming--text {
    text-align: center;
    text-transform: uppercase;
}

.main__coming--title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.main__coming--button {
    width: 200px;
    height: 40px;
    border: 2px;
    border-color: var(--white);
    border-radius: 50px;
    background-color: transparent;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.main__coming--link {
    text-align: center;
}